* {
    color: #101727; 
    font-family: "Manrope", sans-serif;
}

a:active {
    color: #fff;
}

.linier-Blue {
    background: linear-gradient(to bottom, rgba(79, 57, 246, 1) 0%,rgba(149, 20, 250, 1) 100%);
    
}

.logo {
    /* background: linear-gradient(to bottom, rgba(79, 57, 246, 1) 0%,rgba(149, 20, 250, 1) 100%); */
    color: transparent;
    background-clip: text;
}

/* .animation {
   transition: all ease 10s; 
}

.animation:hover {
   background: linear-gradient(to bottom, rgba(79, 57, 246, 1) 0%,rgba(149, 20, 250, 1) 100%);
} */





  
  
